#map {
    width: 100%;
    height: 100vh;
    min-height: 600px;
}


.add_to_map {
    background-color: #00ff00;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    border-radius: 0px 0px 0px 3px;
    padding: 6px;
}


.info_adicionado {
    position: absolute;
    right: 0px;
    top: 31px;
    background-color: #bab5ae;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    text-align: center;
    padding: 6px 13px 6px 13px;
    border-radius: 0px 0px 0px 3px;
    z-index: 1;
    display: none;
}


/*// POPUP HOVER*/

.mapboxgl-popup-close-button {
    display: none;
}