/*barra do meio*/

.slider-temporal {
    border-top: 2px solid #585858;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% + 0px);
    height: 80px;


    z-index: 10;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.slider-range > div {
    background-color: #c7c7c7;
    border-radius: 0;
}

.slider-range {
    background-color: #efeded;
    border: none;
    height: 5px;
}

.slider-range:hover {
    cursor: pointer;
}


.ui-slider .ui-slider-handle {
    margin-top: 0px;
    width: 16px;
    height: 16px;

    text-decoration: none;
    text-align: center;
    padding-left: 5px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #2a2a2a;
    border: .5px solid #e5e5e5;
}

.slider-range > span:nth-child(3):hover,
.slider-range > span:nth-child(2):hover {
    cursor: pointer;
}

.slider_container {
    width: 100%;
}


ui-corner-all ui-state-default {
    left: 8px !important;
}




.tempoatual_container {
    margin-top: 150px;
    width: 71.4%;
    margin-left: 14.28%;
    padding: 12px;
}

.tempo_atual_tamanho {
    width: 85%;
}

.tempodecorrido {
    width: 100%;
}

.tempoatualtext {
    margin-top: 5px;
}

.containertempo input {
    width: 50%;
}

/*BARRA DE BAIXO*/

#myProgress {
    width: 100%;
    background-color: lightgray;
    border-radius: 2px;
    margin-top: 12px;
}

#myBar {
    width: 0%;
    height: 6px;
    background-color: #414141;
    border-radius: 2px;
}


.barradeteste {
    width: 0%;
    height: 6px;
    background-color: #414141;
    border-radius: 2px;
    transition: none;
}


.barradeteste_andar {
    width: 100%;
    transition: width 120s linear;
}

.testava {
    width: 0;
}


.mapboxgl-ctrl-bottom-left {
    display: none;
}



/*PROGRESS DE VOLUME*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.5px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(93, 93, 93, 0.36);
    border-radius: 25px;
    border: 0.2px solid rgba(0, 0, 0, 0.37);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.74), 0px 0px 0px rgba(13, 13, 13, 0.74);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 16px;
    width: 16px;
    border-radius: 24px;
    background: #00ff00;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(93, 93, 93, 0.36);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(93, 93, 93, 0.36);
    border-radius: 25px;
    border: 0.2px solid rgba(0, 0, 0, 0.37);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.74), 0px 0px 0px rgba(13, 13, 13, 0.74);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 16px;
    width: 16px;
    border-radius: 24px;
    background: #7e62ff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(93, 93, 93, 0.36);
    border: 0.2px solid rgba(0, 0, 0, 0.37);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
    background: rgba(93, 93, 93, 0.36);
    border: 0.2px solid rgba(0, 0, 0, 0.37);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.74), 0px 0px 0px rgba(13, 13, 13, 0.74);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 16px;
    width: 16px;
    border-radius: 24px;
    background: #7e62ff;
    cursor: pointer;
    height: 5px;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(93, 93, 93, 0.36);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(93, 93, 93, 0.36);
}



/*AFTER COM ANOS*/
body > div.slider-temporal > div > div > div > span:nth-child(2)::after {
    content: "(" attr(cenas) ")";
    position: absolute;
    left:-8px;
    top:-14px;
    font-size: 13px;
}

body > div.slider-temporal > div > div > div > span:nth-child(2):active {
    color:black;
}



/*MEDIA MEDIA MEDIA MEDIA MEDIA*/

@media screen and (max-width: 768px) {

    .tempoatual_container {
        width: 100%;
        margin-left: 0%;
        padding: 30px;
    }

    .sound_container {
        width: 100%;
        margin-left: 0%;
        padding: 30px;
    }

    .button_container {
        width: 100%;
        margin-left: 0%;
        padding: 30px;
    }
}


@media screen and (max-width: 380px) {
    .tempoatual_container {
        padding: 15px;
    }

    .sound_container {
        padding: 15px;
    }

    .button_container {
        padding: 15px;
    }

    .add_meu_mapa_container {
        padding: 7px;
    }


}
