/*——— PROXIMA ————*/

@font-face {
    font-family: 'proxima_bold';
    src: url('../fonts/proxima/ProximaNova-Bold.otf');
}

@font-face {
    font-family: 'proxima_semibold';
    src: url('../fonts/proxima/ProximaNova-Semibold.otf');
}

@font-face {
    font-family: 'proxima_regular';
    src: url('../fonts/proxima/ProximaNova-Regular.otf');
}

/*——— GEORGIA ————*/

@font-face {
    font-family: 'georgia_regular';
    src: url('../fonts/georgia/georgia_regular.ttf');
}
