#map {
    width: 100%;
    height: 100vh;
    min-height: 600px;
}


.add_to_map {
    background-color: #00ff00;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    border-radius: 0px 0px 0px 3px;
    padding: 6px;
}

.info_adicionado {
    position: absolute;
    right: 0px;
    top: 31px;
    background-color: #bab5ae;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    text-align: center;
    padding: 6px 13px 6px 13px;
    border-radius: 0px 0px 0px 3px;
    z-index: 1;
    display: none;
}

.show_added_map {
    display: block;
}


.add_to_map:hover {
    cursor: pointer;
}

.plus_icon,
.add_to_map p {
    float: left;
}

.plus_icon {
    width: 18px;
    height: auto;
}

.add_to_map p {
    margin-left: 8px;
}





/*CATEGORIAS*/

/*EMPRESA*/

.empresa_map {
    position: absolute;
    background-image: url('../marker.svg');
    background-repeat: repeat-x;
    cursor: pointer;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    line-height: inherit;
    padding: 5px;

}

.empresa_map::after {
    background-image: url('../marker.svg');
    background-repeat: repeat-x;
    content: "";
    background-size: 200%;
    position: absolute;
    width: 10px;
    height: 30%;
    top: 100%;
    right: 0px;


    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}



/*.empresa_map::before {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: 100%;
    top:0;
    left: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}*/


.border-nice {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.border-nice::after {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: 100%;
    top:0;
    left: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.border-nice::before {
    content: "";
    background-image: url('../border-nice.svg');
    position: absolute;
    width: 10px;
    height: 10px;
    top:100%;
    right: 0;
    z-index: 1;
}


/*.empresa_map {
    position: absolute;
    background-image: url('../marker.svg');
    background-repeat: repeat-x;
    cursor: pointer;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    line-height: inherit;
    padding: 5px;
}

.empresa_map::after {
    background-image: url('../marker.svg');
    background-repeat: repeat-x;
    content: "";
    background-size: 200%;
    position: absolute;
    width: 10px;
    height: 30%;
    top: 100%;
    right: 0px;

    
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}*/

/*IMPRESSAO*/

.impressao {
    position: absolute;
    background-image: url('../impressao.svg');
    background-repeat: repeat-x;
    cursor: pointer;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    line-height: inherit;
    padding: 5px;
}

.impressao::after {
    background-image: url('../impressao.svg');
    background-repeat: repeat-x;
    content: "";
    background-size: 200%;
    position: absolute;
    width: 10px;
    height: 30%;
    top: 100%;
    right: 0px;

    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}


/*MATERIAIS*/

.materiais {
    background-image: url('../materiais.svg');
    background-repeat: repeat-x;
    display: inline-block;
    cursor: pointer;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    line-height: inherit;
    padding: 5px;
}

.materiais::after {
    background-image: url('../materiais.svg');
    background-repeat: repeat-x;
    content: "";
    background-size: 200%;
    position: absolute;
    width: 10px;
    height: 30%;
    top: 100%;
    right: 0px;

    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

/*ESTAGIOS*/

.estagio {
    background-image: url('../estagios.svg');
    background-repeat: repeat-x;
    display: inline-block;
    cursor: pointer;
    font-family: "proxima_bold", sans-serif;
    font-size: 0.9375rem;
    line-height: inherit;
    padding: 5px;
}

.estagio::after {
    background-image: url('../estagios.svg');
    background-repeat: repeat-x;
    content: "";
    background-size: 100%;
    position: absolute;
    width: 10px;
    height: 30%;
    top: 100%;
    right: 0px;

    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}






/*X PARA ELIMINAR*/

.marker:hover::before {
    background-image: url('../icons/x_marker.svg');
    background-size: cover;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: -7px;
    right: -7px;
    background-color: #ff3b3b;
    z-index: 10;
    border-radius: 50%;

    /*ANIMAR O APARECIMENTO*/
    animation: show 0.3s ease-out;
    z-index: 1;

    /*transform: scale(2.1);*/
}


@-webkit-keyframes show {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
